# PostgreSQL Database Connection String
DATABASE_URL="postgresql://devforge_user:devforge@2005@localhost:5432/devforge?schema=public"

# Authentication Security Configs
JWT_ACCESS_TOKEN_SECRET=1wHvG8QpmL9dkjsvwDN5SybTNGaGHn7K2mClBZWarggO3+O4bpZnyTG6bjJR5DI5
JWT_ISSUER=devforge-api
JWT_AUDIENCE=devforge-web
JWT_ACCESS_TOKEN_EXPIRES_IN_SECONDS=900
REFRESH_TOKEN_EXPIRES_IN_SECONDS=2592000

# API Server Host & Port
PORT=5000
HOST=0.0.0.0
